@keyframes jump {
    0% {transform: translateY(0);}
    50% {transform: translateY(-5px);}
    100% {transform: translateY(0);}
}

@keyframes pulse {
    0% {box-shadow: 0 0 0 0 rgba(79, 192, 184, 0.2);  transform: scale(1);}
    25% {box-shadow: 0 0 0 3px rgba(79, 192, 184, 0.4); transform: scale(1.03);}
    50% {box-shadow: 0 0 0 6px rgba(79, 192, 184, 0.1); transform: scale(1.05);}
    75% {box-shadow: 0 0 0 4px rgba(79, 192, 184, 0); transform: scale(1.03);}
    100% {box-shadow: 0 0 0 0 rgba(79, 192, 184, 0); transform: scale(1);}
}

@keyframes dropdown {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(0);
    }
}
  